In [ ]:
!pip3 install beautifulsoup4

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import re
import nltk
from nltk.corpus import stopwords

In [2]:
def review_to_words(raw_review):
    review_text = BeautifulSoup(raw_review).get_text()
    letters_only = re.sub("[^a-zA-Z]"," ",review_text)
    lower_case = letters_only.lower()
    words = lower_case.split()
    words = [w for w in words if not w in stopwords.words("english")]
    return(" ".join(words))

In [3]:
train = pd.read_csv("all/labeledTrainData.tsv",header=0,delimiter="\t",quoting=3)

In [4]:
train.shape

(25000, 3)

In [5]:
train.columns.values

array(['id', 'sentiment', 'review'], dtype=object)

In [6]:
train.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

In [7]:
num_reviews = train["review"].size
cleaned_reviews = []

In [9]:
for i in range(num_reviews):
    if((i+1)%1000 == 0):
        print("Review %d of %d\n",(i+1,num_reviews))
    cleaned_reviews.append(review_to_words(train["review"][i]))

Review %d of %d
 (1000, 25000)
Review %d of %d
 (2000, 25000)
Review %d of %d
 (3000, 25000)
Review %d of %d
 (4000, 25000)
Review %d of %d
 (5000, 25000)
Review %d of %d
 (6000, 25000)
Review %d of %d
 (7000, 25000)
Review %d of %d
 (8000, 25000)
Review %d of %d
 (9000, 25000)
Review %d of %d
 (10000, 25000)
Review %d of %d
 (11000, 25000)
Review %d of %d
 (12000, 25000)
Review %d of %d
 (13000, 25000)
Review %d of %d
 (14000, 25000)
Review %d of %d
 (15000, 25000)
Review %d of %d
 (16000, 25000)
Review %d of %d
 (17000, 25000)
Review %d of %d
 (18000, 25000)
Review %d of %d
 (19000, 25000)
Review %d of %d
 (20000, 25000)
Review %d of %d
 (21000, 25000)
Review %d of %d
 (22000, 25000)
Review %d of %d
 (23000, 25000)
Review %d of %d
 (24000, 25000)
Review %d of %d
 (25000, 25000)