In [15]:
import pandas as pd
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np

In [16]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [17]:
df_train.info()
#df_train["Age"] = df_train["Age"].fillna(0)
#df_train["Embarked"] = df_train["Embarked"].fillna("0")
#df_test["Age"] = df_test["Age"].fillna(0)
#df_test["Fare"] = df_test["Fare"].fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [18]:

df_train = df_train.fillna(0)
df_test = df_test.fillna(0)
fare_mean = df_train['Fare'].mean()
fare_median = df_train['Fare'].median()

for i in range(0,len(df_train['Fare'])):
    val = df_train.iloc[i]['Fare']
    if(val<=fare_median):
        df_train.at[i,'Fare']  = 1
    elif(val>fare_median and val<=fare_mean):
        df_train.at[i,'Fare'] = 2
    else:
        df_train.at[i,'Fare'] = 3

for i in range(0, len(df_test['Fare'])):
    val = df_test.iloc[i]['Fare']
    if(val<=fare_median):
        df_test.at[i,'Fare'] = 1
    elif(val>fare_median and val<=fare_mean):
        df_test.at[i,'Fare'] = 2
    else:
        df_test.at[i,'Fare'] = 3

#df_train['Sex'] = df_train['Sex'].map({'male':1,'female':2})
df_train['Sex'].replace(['female','male'],["1","2"],inplace=True)
df_test['Sex'].replace(['female','male'],["1","2"],inplace=True)
df_train['Embarked'].replace(['Q','S','C'],["1","2","3"],inplace=True)
df_test['Embarked'].replace(['Q','S','C'],["1","2","3"],inplace=True)
#df_train.loc[df_train.Sex == 'female', 'female'] = 2
#df_test['Sex'] = df_test['Sex'].map({'male':1,'female':2})

#df_train['Embarked'] = df_train['Embarked'].map({'Q':1,'S':2, 'C':3})
#df_test['Embarked'] = df_test['Embarked'].map({'Q':1,'S':2, 'C':3})
X = df_train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
y = df_train['Survived']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33,random_state=42)

#X_train = df_train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
#Y_train = df_train['Survived']

#X_test = df_test[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [19]:
X_train.head(6)

     Pclass Sex   Age  SibSp  Parch  Fare Embarked
6         1   2  54.0      0      0   3.0        2
718       3   2   0.0      0      0   2.0        1
685       2   2  25.0      1      2   3.0        3
73        3   2  26.0      1      0   1.0        3
882       3   1  22.0      0      0   1.0        2
328       3   1  31.0      1      1   2.0        2

In [21]:
lin_clf = svm.LinearSVC()
lin_clf.fit(X_train, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [22]:
y_pred = lin_clf.predict(X_test)

In [23]:
accuracy_score(y_test,y_pred)

0.71186440677966101